
@{
    Layout = null;
}

<!Doctype html >

<html>
<head>
    <meta name=" Veiwport" content=" width=device-width"/>
    <tittle> Index</tittle>
</head>
<body>
    Age: @ViewBag.age
    <br />
    fullName :  @ViewBag.FullName
    <br />
    Status  : @ViewBag.Status
    <br />
    Price : @ViewBag.Price
    <br />
    Brithday : @ViewBag.Brithday
    <br/>
    Gender : @ViewBag.Gender
</body>

</html>
         